body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: "Roboto", serif;
}

header {
    display: flex;

    width: 100%;
    height: 65px;
    color: white;
    background-color: red;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 50px;
}

p, a {
    font-size: 1.3rem;
    margin-left: 50px;
    margin-right: 50px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.div-container {
    text-align: center; /* Centraliza o conteúdo textual, como o H1 */
    width: 100%;
}

.div-container img {
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    display: block; /* Remove espaços adicionais ao tratar a imagem como um bloco */
    border-radius: 15px;
    width: 600px;
}

.div-container h1 {
    font-family: "DM Serif Text", serif;
}

.div-historia {
    width: 80%;
    max-width: 1300px;
    padding: 20px;
    text-align: justify;
}

.div-historia h1 {
    font-size: 2rem;
    margin-left: 50px;

    font-family: "DM Serif Text", serif;
}

.div-historia h2 {
    margin-left: 50px;
    font-family: "DM Serif Text", serif;
}

.div-container {
    justify-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100px;
    width: 100%;
    
    margin-top: 100px;
    font-size: 1.3rem;
    padding-top: 30px;
    padding-bottom: 30px;
    
    background-color: #FFFF00;
}

@media (max-width: 800px) {
    .div-container img {
        width: 450px;
    }

    .div-container h1 {
        font-size: 1.7rem;
    }

    .div-historia h1 {
        margin-left: 25px;
        font-size: 1.5rem;

        width: 85%;
    }

    p, a {
        font-size: 1.2rem;
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media (max-width: 600px) {
    .div-container img {
        width: 350px;
    }

    .div-container h1 {
        font-size: 1.5rem;
    }

    .div-historia {
        width: 95%;
    }

    .div-historia h1, h2{
        font-size: 1.5rem;
    }

    p, a {
        font-size: 1.2rem;
        margin-left: 25px;
        margin-right: 25px;
    }

}

@media (max-width: 400px) {
    .div-container h1, .div-container h2 {
        font-size: 1.3rem;
    }

    p, a {
        font-size: 1.2rem;
        margin-left: 15px;
        margin-right: 15px;
    }
}